<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppId" value="wxd1cedb6854734ffc"/>
    <add key="secret" value="1b0a10d61656407fdb66914f18a8df76"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="LinYiManEntities" connectionString="metadata=res://*/LinYiMan.csdl|res://*/LinYiMan.ssdl|res://*/LinYiMan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=XXX;user id=XXX;password=XXXX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>